<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>CSE 108 Lab 8</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='basic-styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>

<body>
    <div>
        <div class="admin-header">
            <h2>Admin</h2>
        </div>
        <div class="admin-navBar">
            <a class = button href="/admin">Admin Home</a>
            <a class = button href="/admin/edit-users">Edit Users</a>
            <a class = button href="/admin/edit-classes">Edit Classes</a>
            <a class = button href="/admin/edit-class-enrollments">Edit Class Enrollments</a>
        </div>

    <!-- <script src="{{ url_for('static', filename='admin.js') }}"></script> -->
</body>
</html>