<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>CSE 108 Lab 8</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='basic-styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>

<body>
    <div>
        <div class="admin-header">
            <h2>Admin</h2>
        </div>
        <div class="admin-navBar">
            <a class = button href="/admin/dashboard">Admin Home</a>
           {# <a class = button href="/admin/edit-users">Edit Users</a>
            <a class = button href="/admin/edit-classes">Edit Classes</a>
            <a class = button href="/admin/edit-class-enrollments">Edit Class Enrollments</a>#}
        </div>

        <div id="main">
            <div class ="DataTable" id="UserTable">Users</div>
            <button type="submit" value="Edit" onclick="submitEditForm()"">Submit Updates</button>
            <button type="submit" value="Add">Create New Entry</button>
            <div class ="DataTable" id="ClassTable">Classes</div>
            <div class ="DataTable" id="ClassEnrollmentTable">Class Enrollments</div>
        </div>
    </div>

    <script type="text/javascript">
        var usersdata = {{ users_data|tojson }}
        var classesdata = {{ classes_data|tojson }}
        var classenrollmentdata = {{ class_enroll_data|tojson }}
    </script>
    <script src="{{ url_for('static', filename='admin.js') }}"></script>
    <script type="text/javascript">
        showUserData("UserTable");
        showClassData("ClassTable");
        showClassEnrollmentData("ClassEnrollmentTable");
    </script>
</body>
</html>
