table{
    table-layout: fixed;
}
td{
    max-width: 500px;
    word-wrap: break-word;
    border: solid black 1px;
}

a.button{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    color: black;
}

.admin-navBar{
    margin: 10px;
}