table{
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0px;
}
td{
    max-width: 500px;
    word-wrap: break-word;
    border: solid black 1px;
}

th{
    max-width: 500px;
    word-wrap: break-word;
    border: solid black 1px;
}